// .post {
//   &Title {
//     @extend %main-title;
    
//     &2 {
//       text-decoration: none;
//       // color: darken($color-text, $hover-percent);

//       &:hover {
//         color: $color-text;
//       }
//     }

//     #cb_post_title_url {
//       display: block;
//     }
//   }

//   &Con {
//     display: block;
//     margin-bottom: 1em;
//   }

//   &Desc {
//     text-align: right;
//     font-size: 12px;
//     color: $color-text-aux;
//     @extend %hidden;
//   }

//   &Separator {
//     display: block;
//     width: 100%;
//     height: 1px;
//     margin: 1em 0 .875em;
//   }
// }

.postTitle {
  @extend %main-title;

  a {
    text-decoration: none;
    color: $color-accent;
    font-size: 24px;

    &:hover {
      color: $color-accent;
    }
  }
}

.day {
  margin-bottom: 5.5em;

  .dayTitle {
    font-size: 22px;
    @extend %main-title;
    

    a {
      text-decoration: none;

      &:hover {
        color: $color-text;
      }
    }
  }

  .postTitle {
    @extend %main-post-title;
    margin-bottom: 0;
    padding: 0;

    &:before {
      content: "";
      display: block;
      width: 1.5em;
      height: 20px;
      border-top: 1px solid $color-text;
    }
  }
}

#myposts {
  margin: 0;

  .pager {
    margin: 0;
    text-align: center;
  }

  .PostList {
    position: relative;
    margin: 20px 0 0 0;
    font-size: $font-size-base;
  }

  .postTitl2 {
    max-width: 50%;
    font-size: $font-size-base;
    @include ellipsis;
  }

  .postDesc2 {
    position: absolute;
    right: 0;
    top: 3px;
    max-width: 48%;
    color: $color-text-aux;
    font-size: 12px;
    text-align: right;

    @include ellipsis;
  }

  .postText2 {
    color: $color-text;
    font-size: 12px;
    margin: 6px 0 12px 0 !important;
  }
}

// 博客底部信息
#blog_post_info_block {
  // margin-top: $grid-gutter * 2;

  // 标签
  #EntryTag {
    margin-bottom: 2em;

    // a {
    //   @extend %tag;

    //   & + & {
    //     margin-left: .5em;
    //   }
    // }
  }

}

#post_next_prev {
  margin-bottom: 10px;

  .p_n_p_prefix {
    display: none;
  }
}