.pager {
  color: $color-text;
  font-size: $font-size-base;
  text-align: center;

  .Pager a {
    margin: 0 2px;
    padding: 2px 5px;
    border: 0;
    color: $color-text;
    font-size: inherit;
    text-decoration: underline;
    vertical-align: top;

    @include hover-focus {
      color: $link-color;
    }
  }
}