.diggword,
#tip_comment,
#tip_comment2 {
  line-height: 1.5;
  font-size: 12px;
  color: $color-danger !important;
}

h1.PostListTitle,
h3#taglist_title {
  display: block;
  color: $color-accent;
  text-align: center;
  font-size: 28px;
  @extend %main-title;
}

h3#taglist_title small {
  display: none;
}
