#green_channel {
  display: block;
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  text-align: left;
  float: left;

  a {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 4px 8px;
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
  }

  #green_channel_weibo,
  #green_channel_wechat {
    padding: 1px 4px;

    img {
      margin: 0;
    }
  }

  #green_channel_digg {
    @include main-share-button($color-lightblue);
  }

  #green_channel_follow {
    @include main-share-button($color-pink);
  }

  #green_channel_favorite {
    @include main-share-button($color-purple);
  }

  #green_channel_weibo {
    @include main-share-button($color-weibo);
  }

  #green_channel_wechat {
    @include main-share-button($color-wechat);
  }
}

#div_digg {
  width: auto;
  margin: 0;
  font-size: $font-size-base;

  .diggit,
  .buryit {
    height: 28px;
    margin: 0;
    padding: 0;
    line-height: 28px;
    background: none;
  }

  .diggit:before {
    content: "\e643";
    font-family: "blackcat-icon";
    display: inline;
    font-size: 20px;
  }

  .buryit:before {
    content: "\e6c9";
    font-family: "blackcat-icon";
    display: inline;
    font-size: 20px;
  }

  .diggnum,
  .burynum {
    color: $color-text-aux;
    font-family: $font-family-base;
    font-size: 20px;
  }
}