// Mobile
@include respond(xs) {
  #header {
    height: $header-xs-height;
  }

  #blogTitle {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    min-width: 1px;
    border-right-width: 0;

    h1 {
      font-size: 18px;
      font-weight: 400;
      margin-right: 10px;
      margin-left: 50px;
    }

    h2 {
      font-size: 14px;
    }
  }

  #comment_form {
    margin-left: 0;
  }

  .blackcat-link-links a>span:after, a.blackcat-line-link>span:after {
    content: none;
  }

  blackcat-header {
    padding: 10px 15px;
    height: $header-xs-height;

    .item {
      float: right;
    }

    .blackcat-wrapper {
      width: 100%;
    }

    .blackcat-logo {
      margin-right: 10px;

      &.item {
        float: left;
      }

      a {
        font-size: 18px;
      }
    }
  }

  #mainContent,
  blackcat-footer {
    padding: 0 15px;
  }

  #comment_nav {
    text-align: center;
  }

  body {
    font-family: $font-family-base !important;

    #comment_form {
      padding: 0;
    }

    #main {
      width: 100vw;
      max-width: 100%;
      padding: 0;
    }

    #mainContent {
      margin-top: $header-xs-height + 10;

      &.static {
        margin-top: 20px;
      }
    }

    #green_channel {
      width: 100%;
      padding: 10px;
    }
  }

  .hide-xs {
    display: none !important;
  }
}