/* Reset */
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
button,
optgroup,
textarea,
p,
pre {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ol,
ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}

p {
  line-height: 1.8;
  font-size: 100%;
}

dt,
b,
strong {
  font-weight: 700;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 13px;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 14px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

img {
  display: inline-block;
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
option,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
}

button,
select {
  text-transform: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[hidden],
template {
  display: none !important;
}

/* Reboot */
*,
*:before,
*:after {
  outline: none;
  box-sizing: border-box;
}

::selection {
  background-color: #f375b5;
  color: #fff;
  text-shadow: none;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  line-height: 1.42857143;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, "PingFang SC", Tahoma, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #495057;
  text-align: left;
  background-color: #f5f7fa;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 7px;
}

hr {
  height: 1px;
  margin: 7px 0;
  border: 0;
  background-color: #e9ecef;
  clear: both;
}

a {
  color: #f375b5;
  background-color: transparent;
  text-decoration: none;
  text-underline-position: under;
  -webkit-text-decoration-skip: objects;
  cursor: pointer;
}

a:hover, a:focus {
  color: #eb1783;
  outline: 0;
}

a:active {
  color: #db69a3;
  outline: 0;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: inherit;
}

.vv-input, #sideBar .input_my_zzk, #comment_form.commentform p input.author, .vv-textarea, #comment_form.commentform .commentbox_main textarea.comment_textarea {
  display: inline-block;
  width: 100%;
  min-width: 5em;
  margin: 0;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  background-color: #fff;
  color: #74818d;
  font-size: 1em;
  transition: color 300ms cubic-bezier(0.215, 0.61, 0.355, 1), border-color 300ms cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-appearance: none;
  outline: none;
}

.vv-input::placeholder, #sideBar .input_my_zzk::placeholder, #comment_form.commentform p input.author::placeholder, .vv-textarea::placeholder, #comment_form.commentform .commentbox_main textarea.comment_textarea::placeholder {
  color: #c0c4cc;
}

.vv-input:hover, #sideBar .input_my_zzk:hover, #comment_form.commentform p input.author:hover, .vv-textarea:hover, #comment_form.commentform .commentbox_main textarea.comment_textarea:hover {
  border-color: #cbd3da;
}

.vv-input:focus, #sideBar .input_my_zzk:focus, #comment_form.commentform p input.author:focus, .vv-textarea:focus, #comment_form.commentform .commentbox_main textarea.comment_textarea:focus {
  outline: none;
  border-color: #f375b5;
  box-shadow: 0 0 0 3px rgba(243, 117, 181, 0.25);
}

.vv-input[readonly], #sideBar .input_my_zzk[readonly], #comment_form.commentform p input.author[readonly], .vv-textarea[readonly], #comment_form.commentform .commentbox_main textarea.comment_textarea[readonly] {
  background-color: #ebeef1;
}

.vv-input:disabled, #sideBar .input_my_zzk:disabled, #comment_form.commentform p input.author:disabled, .vv-textarea:disabled, #comment_form.commentform .commentbox_main textarea.comment_textarea:disabled, .vv-input[disabled], #sideBar .input_my_zzk[disabled], #comment_form.commentform p input.author[disabled], .vv-textarea[disabled], #comment_form.commentform .commentbox_main textarea.comment_textarea[disabled] {
  background-color: #eaedf0;
  border-color: #cbd3da;
  cursor: not-allowed;
}

.vv-input, #sideBar .input_my_zzk, #comment_form.commentform p input.author {
  height: calc(1.25em + 1em + 2px);
  padding: .5em .75em .5em .5em;
  line-height: 1.25;
}

.vv-textarea, #comment_form.commentform .commentbox_main textarea.comment_textarea {
  padding: .5em 1em;
  line-height: 1.125;
  vertical-align: bottom;
  resize: vertical;
}

.vv-button, #sideBar .btn_my_zzk, .pager .Pager a, #comment_form.commentform #commentbox_opt .comment_btn, #comment_form.commentform #commentbox_opt a {
  display: inline-block;
  padding: .5em 1em;
  line-height: 1.25;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out, border-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
  cursor: pointer;
  user-select: none;
}

.vv-button::-moz-focus-inner, #sideBar .btn_my_zzk::-moz-focus-inner, .pager .Pager a::-moz-focus-inner, #comment_form.commentform #commentbox_opt .comment_btn::-moz-focus-inner, #comment_form.commentform #commentbox_opt a::-moz-focus-inner {
  border: 0;
}

.vv-button-primary, #sideBar .btn_my_zzk, .pager .Pager a, #comment_form.commentform #commentbox_opt .comment_btn, #comment_form.commentform #commentbox_opt a {
  color: #fff;
  background-color: #f375b5;
  border-color: #f375b5;
}

.vv-button-primary:hover, #sideBar .btn_my_zzk:hover, .pager .Pager a:hover, #comment_form.commentform #commentbox_opt .comment_btn:hover, #comment_form.commentform #commentbox_opt a:hover, .vv-button-primary:focus, #sideBar .btn_my_zzk:focus, .pager .Pager a:focus, #comment_form.commentform #commentbox_opt .comment_btn:focus, #comment_form.commentform #commentbox_opt a:focus {
  background: #f591c4;
  border-color: #f591c4;
  color: #fff;
}

.vv-button-primary:focus, #sideBar .btn_my_zzk:focus, .pager .Pager a:focus, #comment_form.commentform #commentbox_opt .comment_btn:focus, #comment_form.commentform #commentbox_opt a:focus {
  background: #f375b5;
  box-shadow: 0 0 0 3px rgba(243, 117, 181, 0.25);
}

.vv-button-primary:active, #sideBar .btn_my_zzk:active, .pager .Pager a:active, #comment_form.commentform #commentbox_opt .comment_btn:active, #comment_form.commentform #commentbox_opt a:active {
  background: #db69a3;
  border-color: #db69a3;
  color: #fff;
  outline: none;
}

.vv-button-primary:disabled, #sideBar .btn_my_zzk:disabled, .pager .Pager a:disabled, #comment_form.commentform #commentbox_opt .comment_btn:disabled, #comment_form.commentform #commentbox_opt a:disabled, .vv-button-primary:disabled:hover, #sideBar .btn_my_zzk:disabled:hover, .pager .Pager a:disabled:hover, #comment_form.commentform #commentbox_opt .comment_btn:disabled:hover, #comment_form.commentform #commentbox_opt a:disabled:hover, .vv-button-primary:disabled:focus, #sideBar .btn_my_zzk:disabled:focus, .pager .Pager a:disabled:focus, #comment_form.commentform #commentbox_opt .comment_btn:disabled:focus, #comment_form.commentform #commentbox_opt a:disabled:focus, .vv-button-primary:disabled:active, #sideBar .btn_my_zzk:disabled:active, .pager .Pager a:disabled:active, #comment_form.commentform #commentbox_opt .comment_btn:disabled:active, #comment_form.commentform #commentbox_opt a:disabled:active {
  color: #fff;
  background-color: #f8acd3;
  border-color: #f8acd3;
  box-shadow: none;
}

.vv-button-primary.vv-button-ghost, #sideBar .vv-button-ghost.btn_my_zzk, #sideBar .pager .Pager a.btn_my_zzk, .pager .Pager #sideBar a.btn_my_zzk, .pager .Pager a, #comment_form.commentform #commentbox_opt .vv-button-ghost.comment_btn, #comment_form.commentform #commentbox_opt a.comment_btn, #comment_form.commentform #commentbox_opt a {
  color: #f375b5;
  background-color: #fff;
  border-color: #f375b5;
}

.vv-button-primary.vv-button-ghost:hover, #sideBar .vv-button-ghost.btn_my_zzk:hover, #sideBar .pager .Pager a.btn_my_zzk:hover, .pager .Pager #sideBar a.btn_my_zzk:hover, .pager .Pager a:hover, #comment_form.commentform #commentbox_opt .vv-button-ghost.comment_btn:hover, #comment_form.commentform #commentbox_opt a:hover, .vv-button-primary.vv-button-ghost:focus, #sideBar .vv-button-ghost.btn_my_zzk:focus, #sideBar .pager .Pager a.btn_my_zzk:focus, .pager .Pager #sideBar a.btn_my_zzk:focus, .pager .Pager a:focus, #comment_form.commentform #commentbox_opt .vv-button-ghost.comment_btn:focus, #comment_form.commentform #commentbox_opt a:focus {
  background: white;
  border-color: #f591c4;
  color: #f375b5;
}

.vv-button-primary.vv-button-ghost:focus, #sideBar .vv-button-ghost.btn_my_zzk:focus, #sideBar .pager .Pager a.btn_my_zzk:focus, .pager .Pager #sideBar a.btn_my_zzk:focus, .pager .Pager a:focus, #comment_form.commentform #commentbox_opt .vv-button-ghost.comment_btn:focus, #comment_form.commentform #commentbox_opt a:focus {
  background: #fff;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.vv-button-primary.vv-button-ghost:active, #sideBar .vv-button-ghost.btn_my_zzk:active, #sideBar .pager .Pager a.btn_my_zzk:active, .pager .Pager #sideBar a.btn_my_zzk:active, .pager .Pager a:active, #comment_form.commentform #commentbox_opt .vv-button-ghost.comment_btn:active, #comment_form.commentform #commentbox_opt a:active {
  background: #e6e6e6;
  border-color: #db69a3;
  color: #f375b5;
  outline: none;
}

.vv-button-primary.vv-button-ghost:disabled, #sideBar .vv-button-ghost.btn_my_zzk:disabled, #sideBar .pager .Pager a.btn_my_zzk:disabled, .pager .Pager #sideBar a.btn_my_zzk:disabled, .pager .Pager a:disabled, #comment_form.commentform #commentbox_opt .vv-button-ghost.comment_btn:disabled, #comment_form.commentform #commentbox_opt a:disabled, .vv-button-primary.vv-button-ghost:disabled:hover, #sideBar .vv-button-ghost.btn_my_zzk:disabled:hover, #sideBar .pager .Pager a.btn_my_zzk:disabled:hover, .pager .Pager #sideBar a.btn_my_zzk:disabled:hover, .pager .Pager a:disabled:hover, #comment_form.commentform #commentbox_opt .vv-button-ghost.comment_btn:disabled:hover, #comment_form.commentform #commentbox_opt a:disabled:hover, .vv-button-primary.vv-button-ghost:disabled:focus, #sideBar .vv-button-ghost.btn_my_zzk:disabled:focus, #sideBar .pager .Pager a.btn_my_zzk:disabled:focus, .pager .Pager #sideBar a.btn_my_zzk:disabled:focus, .pager .Pager a:disabled:focus, #comment_form.commentform #commentbox_opt .vv-button-ghost.comment_btn:disabled:focus, #comment_form.commentform #commentbox_opt a:disabled:focus, .vv-button-primary.vv-button-ghost:disabled:active, #sideBar .vv-button-ghost.btn_my_zzk:disabled:active, #sideBar .pager .Pager a.btn_my_zzk:disabled:active, .pager .Pager #sideBar a.btn_my_zzk:disabled:active, .pager .Pager a:disabled:active, #comment_form.commentform #commentbox_opt .vv-button-ghost.comment_btn:disabled:active, #comment_form.commentform #commentbox_opt a:disabled:active {
  color: #f375b5;
  background-color: white;
  border-color: #f8acd3;
  box-shadow: none;
}

.vv-button-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.vv-button-danger:hover, .vv-button-danger:focus {
  background: #e35d6a;
  border-color: #e35d6a;
  color: #fff;
}

.vv-button-danger:focus {
  background: #dc3545;
  box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.25);
}

.vv-button-danger:active {
  background: #c6303e;
  border-color: #c6303e;
  color: #fff;
  outline: none;
}

.vv-button-danger:disabled, .vv-button-danger:disabled:hover, .vv-button-danger:disabled:focus, .vv-button-danger:disabled:active {
  color: #fff;
  background-color: #ea868f;
  border-color: #ea868f;
  box-shadow: none;
}

.vv-button-danger.vv-button-ghost, .pager .Pager a.vv-button-danger, #comment_form.commentform #commentbox_opt a.vv-button-danger {
  color: #dc3545;
  background-color: #fff;
  border-color: #dc3545;
}

.vv-button-danger.vv-button-ghost:hover, .pager .Pager a.vv-button-danger:hover, #comment_form.commentform #commentbox_opt a.vv-button-danger:hover, .vv-button-danger.vv-button-ghost:focus, .pager .Pager a.vv-button-danger:focus, #comment_form.commentform #commentbox_opt a.vv-button-danger:focus {
  background: white;
  border-color: #e35d6a;
  color: #dc3545;
}

.vv-button-danger.vv-button-ghost:focus, .pager .Pager a.vv-button-danger:focus, #comment_form.commentform #commentbox_opt a.vv-button-danger:focus {
  background: #fff;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.vv-button-danger.vv-button-ghost:active, .pager .Pager a.vv-button-danger:active, #comment_form.commentform #commentbox_opt a.vv-button-danger:active {
  background: #e6e6e6;
  border-color: #c6303e;
  color: #dc3545;
  outline: none;
}

.vv-button-danger.vv-button-ghost:disabled, .pager .Pager a.vv-button-danger:disabled, #comment_form.commentform #commentbox_opt a.vv-button-danger:disabled, .vv-button-danger.vv-button-ghost:disabled:hover, .pager .Pager a.vv-button-danger:disabled:hover, #comment_form.commentform #commentbox_opt a.vv-button-danger:disabled:hover, .vv-button-danger.vv-button-ghost:disabled:focus, .pager .Pager a.vv-button-danger:disabled:focus, #comment_form.commentform #commentbox_opt a.vv-button-danger:disabled:focus, .vv-button-danger.vv-button-ghost:disabled:active, .pager .Pager a.vv-button-danger:disabled:active, #comment_form.commentform #commentbox_opt a.vv-button-danger:disabled:active {
  color: #dc3545;
  background-color: white;
  border-color: #ea868f;
  box-shadow: none;
}

.vv-tag, .post #blog_post_info_block #EntryTag a, #sideBar #leftcontentcontainer .sidebar-block#sidebar_toptags ul li, #taglist a, #taglist .small {
  display: inline-block;
  margin: 0;
  padding: 4px 8px;
  background-color: #fde3f0;
  border: none;
  border-radius: 2px;
  color: #f375b5;
  font-size: 12px;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
}

.vv-tag:hover, .post #blog_post_info_block #EntryTag a:hover, #sideBar #leftcontentcontainer .sidebar-block#sidebar_toptags ul li:hover, #taglist a:hover, #taglist .small:hover {
  background-color: #fbd6e9;
}

.vv-tag + .vv-tag, .post #blog_post_info_block #EntryTag a + .vv-tag, .post #blog_post_info_block #EntryTag .vv-tag + a, .post #blog_post_info_block #EntryTag a + a {
  margin-left: .5em;
}

/**
 * @description   header's style
 * @date          2019/11/17 00:56
 */
#header {
  display: block;
  width: 100%;
  height: 80px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #e9ecef;
  background-color: #fff;
}

#header:before,
#header:after {
  content: "\20";
  display: table;
}

#header:after {
  clear: both;
}

#header.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
}

#blogTitle,
#navigator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#blogTitle {
  float: left;
  position: relative;
  min-width: 260px;
}

#blogTitle #lnkBlogLogo {
  display: none;
}

#blogTitle #Header1_HeaderTitle {
  color: #495057;
}

#blogTitle h1, #blogTitle h2 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#blogTitle h1 {
  font-weight: 700;
}

#blogTitle h2 {
  color: #74818d;
  font-size: 14px;
}

#navigator {
  float: right;
}

#navigator ul:before,
#navigator ul:after {
  content: "\20";
  display: table;
}

#navigator ul:after {
  clear: both;
}

#navigator li {
  float: left;
  height: 100%;
  padding: 0 15px;
}

#navigator li a.menu {
  position: relative;
  color: #495057;
}

#navigator li a.menu:after {
  content: "";
  position: absolute;
  top: 100%;
  right: -.1em;
  bottom: 0;
  left: -.1em;
  z-index: 1;
  background-color: rgba(243, 117, 181, 0.3);
  transition: top 200ms cubic-bezier(0.591, 0.41, 0.872, 1);
}

#navigator li a.menu:hover:after {
  top: 60%;
}

#navigator .blogStats {
  display: none;
  position: absolute;
  right: 20px;
  top: 100px;
  z-index: 2;
  padding: 4px 6px;
  background-color: #fff;
  color: #c0c4cc;
  font-size: 12px;
}

#navigator .blogStats span {
  display: block;
}

#main {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

#sideBar {
  flex: 0 0 280px;
  padding-left: 2em;
  border-right: 1px solid #e9ecef;
}

#sideBar .catListTitle {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #1a1d20;
}

#sideBar #blog-news,
#sideBar #sidebar_search_box,
#sideBar #leftcontentcontainer .sidebar-block ul {
  padding-top: 5.33333px;
  padding-left: 8px;
}

#sideBar .btn_my_zzk {
  height: auto;
}

#sideBar #sideBarMain {
  height: 100%;
  padding-right: 1em;
  overflow-x: hidden;
  overflow-y: auto;
}

#sideBar #sidebar_news {
  display: block;
  margin-top: 16px;
}

#sideBar #calendar, #sideBar #blog-calendar {
  display: block;
  margin: 32px 0;
  padding: 0;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  color: #74818d;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

#sideBar #calendar table, #sideBar #blog-calendar table {
  width: 100%;
}

#sideBar #calendar td:not([colspan]), #sideBar #calendar th, #sideBar #blog-calendar td:not([colspan]), #sideBar #blog-calendar th {
  position: relative;
  padding: .25em 0;
  text-align: center;
  font-weight: 400;
}

#sideBar #calendar td:not([colspan]) a, #sideBar #calendar th a, #sideBar #blog-calendar td:not([colspan]) a, #sideBar #blog-calendar th a {
  display: block;
  border-bottom: 0;
}

#sideBar #calendar td:not([colspan]) a u, #sideBar #calendar th a u, #sideBar #blog-calendar td:not([colspan]) a u, #sideBar #blog-calendar th a u {
  text-decoration: none;
}

#sideBar #calendar th, #sideBar #blog-calendar th {
  color: #495057;
  padding: .5em 0;
}

#sideBar #calendar td.CalOtherMonthDay, #sideBar #blog-calendar td.CalOtherMonthDay {
  color: #d5d9dd;
}

#sideBar #calendar td.CalWeekendDay, #sideBar #blog-calendar td.CalWeekendDay {
  font-weight: 700;
}

#sideBar #calendar .CalTitle, #sideBar #blog-calendar .CalTitle {
  border-bottom: 1px solid #e9ecef;
  padding-bottom: .875em;
}

#sideBar #calendar .CalTitle td, #sideBar #blog-calendar .CalTitle td {
  padding: .5em 0;
  min-height: 42px;
}

#sideBar #calendar .CalNextPrev, #sideBar #blog-calendar .CalNextPrev {
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  font-weight: 700;
}

#sideBar #calendar .CalNextPrev > a, #sideBar #blog-calendar .CalNextPrev > a {
  display: inline-block;
  width: 100%;
  height: 16px;
  min-width: 42px;
  font-size: 0;
  color: #495057 !important;
  border-bottom: 0;
}

#sideBar #calendar .CalNextPrev > a:hover, #sideBar #blog-calendar .CalNextPrev > a:hover {
  color: #eb1783 !important;
}

#sideBar #calendar .CalNextPrev > a:before, #sideBar #blog-calendar .CalNextPrev > a:before {
  content: "\00ab";
  position: absolute;
  top: 50%;
  left: 14px;
  font-size: 18px;
  color: currentColor;
  transform: translateY(-50%);
}

#sideBar #calendar .CalNextPrev:last-child > a:before, #sideBar #blog-calendar .CalNextPrev:last-child > a:before {
  content: "\00bb";
  left: auto;
  right: 14px;
}

#sideBar #calendar .CalNextPrev ~ [align="center"], #sideBar #blog-calendar .CalNextPrev ~ [align="center"] {
  padding: 1em 0;
  line-height: 1;
  vertical-align: middle;
  letter-spacing: .1em;
  font-weight: 700;
  font-size: 1em;
  cursor: text;
}

#sideBar #leftcontentcontainer {
  padding-bottom: 48px;
}

#sideBar #leftcontentcontainer .sidebar-block {
  margin-bottom: 32px;
}

#sideBar #leftcontentcontainer .sidebar-block .input_my_zzk {
  width: 60%;
}

#sideBar #leftcontentcontainer .sidebar-block ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

#sideBar #leftcontentcontainer .sidebar-block ul li {
  overflow: hidden;
  text-overflow: clip;
}

#sideBar #leftcontentcontainer .sidebar-block ul li > a {
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #495057;
  transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1), color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

#sideBar #leftcontentcontainer .sidebar-block ul li > a:hover {
  color: #eb1783;
}

#sideBar #leftcontentcontainer .sidebar-block#sidebar_toptags ul li {
  margin: 0 5.33333px 5.33333px 0;
  font-weight: 400;
  text-shadow: 0 0 1px;
}

#sideBar #leftcontentcontainer .sidebar-block#sidebar_toptags ul li > a {
  padding: 0;
  color: inherit;
  font-size: inherit;
  border-bottom: 1px dashed currentColor;
}

#sideBar #leftcontentcontainer .sidebar-block#sidebar_toptags ul li > a:hover, #sideBar #leftcontentcontainer .sidebar-block#sidebar_toptags ul li > a:focus {
  border-bottom-style: solid;
}

#sideBar #leftcontentcontainer .sidebar-block#sidebar_recentcomments ul li.recent_comment_title {
  font-weight: 700;
}

#sideBar #leftcontentcontainer .sidebar-block#sidebar_recentcomments ul li.recent_comment_title > a {
  color: #f375b5;
}

#sideBar #leftcontentcontainer .sidebar-block#sidebar_recentcomments ul li.recent_comment_title > a:hover, #sideBar #leftcontentcontainer .sidebar-block#sidebar_recentcomments ul li.recent_comment_title > a:focus {
  color: #eb1783;
}

#sideBar #leftcontentcontainer .sidebar-block#sidebar_recentcomments ul li.recent_comment_author {
  text-align: right;
  margin-right: 0;
  margin-bottom: 16px;
  font-size: 12px;
  letter-spacing: .1em;
}

#sideBar #leftcontentcontainer .sidebar-block#sidebar_recentcomments ul li.recent_comment_author:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: grid-lg) {
  #sideBar #sideBar {
    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.1);
  }
}

#mainContent {
  flex: auto;
  padding: 30px 40px;
  font-size: 14px;
}

#mainContent h1 {
  font-size: 22px;
}

#mainContent h2 {
  font-size: 18px;
}

#mainContent h3 {
  font-size: 16px;
}

#mainContent h4 {
  font-size: 14px;
}

#mainContent h5 {
  font-size: 13px;
}

#mainContent h6 {
  font-size: 12px;
}

#mainContent p {
  margin: .875em auto;
}

#mainContent blockquote {
  position: relative;
  width: 100%;
  margin: 20px 0 40px 0;
  padding: 20px 30px;
  border: none;
  border-left: 5px solid #dc3545;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
}

#mainContent ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#mainContent li {
  list-style: none;
}

#mainContent img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

#mainContent .diggword,
#mainContent #tip_comment,
#mainContent #tip_comment2 {
  display: inline-block;
  line-height: 1.5;
  font-size: 12px;
  color: #dc3545 !important;
}

.pager {
  margin: 0;
  color: #495057;
  font-size: 14px;
  text-align: center;
}

.pager .Pager {
  padding: 16px 0;
}

.pager .Pager a {
  padding: 0 3px;
  border: 0;
  font-size: 14px;
  line-height: 26px;
}

.postTitle {
  margin: 0 0 .875em 0;
  padding: 0 0 .5em 0;
  border-bottom: 1px solid #e9ecef;
}

.postTitle2 {
  color: #1a1d20;
}

.postTitle2:hover {
  color: #495057;
}

.postCon {
  display: block;
  margin-bottom: 1em;
  padding-left: 2em;
}

.postDesc {
  text-align: right;
  font-size: 12px;
  color: #74818d;
}

.postSeparator {
  display: block;
  width: 100%;
  height: 1px;
  margin: 1em 0 .875em;
}

.post #MySignature {
  position: relative;
  margin-top: 5em;
  padding: 7px 0 7px 14px;
  background-color: #eff1f3;
  border-left: 5px solid #e9ecef;
}

.post #MySignature:before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  bottom: 0;
  z-index: 0;
  display: block;
  width: 5px;
  background-image: linear-gradient(135deg, #2b92e4, #ff94ab, #816ad6);
}

.post #blog_post_info_block {
  margin-top: 28px;
}

.post #blog_post_info_block #EntryTag {
  margin-bottom: 14px;
}

.post #blog_post_info_block #blog_post_info #green_channel {
  display: inline-block;
  width: 100%;
  margin: 0 0 14px 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  text-align: left;
}

.post #blog_post_info_block #blog_post_info #green_channel a {
  padding: 4px 8px;
  background-image: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
}

.post #blog_post_info_block #blog_post_info #green_channel a#green_channel_digg {
  background-color: #2b92e4;
  border: 1px solid #228de3 !important;
  box-shadow: 4px 4px 0 rgba(43, 146, 228, 0.2);
  transition: 300ms ease;
}

.post #blog_post_info_block #blog_post_info #green_channel a#green_channel_digg:hover {
  opacity: .8;
  box-shadow: none;
}

.post #blog_post_info_block #blog_post_info #green_channel a#green_channel_digg:active {
  opacity: 1;
}

.post #blog_post_info_block #blog_post_info #green_channel a#green_channel_follow {
  background-color: #ff94ab;
  border: 1px solid #ff8aa3 !important;
  box-shadow: 4px 4px 0 rgba(255, 148, 171, 0.2);
  transition: 300ms ease;
}

.post #blog_post_info_block #blog_post_info #green_channel a#green_channel_follow:hover {
  opacity: .8;
  box-shadow: none;
}

.post #blog_post_info_block #blog_post_info #green_channel a#green_channel_follow:active {
  opacity: 1;
}

.post #blog_post_info_block #blog_post_info #green_channel a#green_channel_favorite {
  background-color: #816ad6;
  border: 1px solid #7a62d4 !important;
  box-shadow: 4px 4px 0 rgba(129, 106, 214, 0.2);
  transition: 300ms ease;
}

.post #blog_post_info_block #blog_post_info #green_channel a#green_channel_favorite:hover {
  opacity: .8;
  box-shadow: none;
}

.post #blog_post_info_block #blog_post_info #green_channel a#green_channel_favorite:active {
  opacity: 1;
}

.post #blog_post_info_block #blog_post_info #green_channel a#green_channel_weibo, .post #blog_post_info_block #blog_post_info #green_channel a#green_channel_wechat {
  padding: 1px 4px;
}

.post #blog_post_info_block #blog_post_info #green_channel a#green_channel_weibo img, .post #blog_post_info_block #blog_post_info #green_channel a#green_channel_wechat img {
  margin: 0;
}

.post #blog_post_info_block #blog_post_info #green_channel a#green_channel_weibo {
  background-color: #0e2746;
  border: 1px solid #0c223e !important;
  box-shadow: 4px 4px 0 rgba(14, 39, 70, 0.2);
  transition: 300ms ease;
}

.post #blog_post_info_block #blog_post_info #green_channel a#green_channel_weibo:hover {
  opacity: .8;
  box-shadow: none;
}

.post #blog_post_info_block #blog_post_info #green_channel a#green_channel_weibo:active {
  opacity: 1;
}

.post #blog_post_info_block #blog_post_info #green_channel a#green_channel_wechat {
  background-color: #51b035;
  border: 1px solid #4da833 !important;
  box-shadow: 4px 4px 0 rgba(81, 176, 53, 0.2);
  transition: 300ms ease;
}

.post #blog_post_info_block #blog_post_info #green_channel a#green_channel_wechat:hover {
  opacity: .8;
  box-shadow: none;
}

.post #blog_post_info_block #blog_post_info #green_channel a#green_channel_wechat:active {
  opacity: 1;
}

.post #post_next_prev {
  margin-bottom: 10px;
}

.post #post_next_prev .p_n_p_prefix {
  display: none;
}

.gallery p, .gallery img {
  margin: 0 !important;
}

.galleryTitle {
  position: relative;
  font-size: 16px;
}

.galleryTitle:before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  display: block;
  width: 5px;
  height: 100%;
  background-color: #f375b5;
}

.gallery .thumbTitle {
  margin: 0 0 .875em 0;
  padding-bottom: 0 0 .5em 0;
  border-bottom: 1px solid #e9ecef;
}

.gallery .thumbDescription {
  position: relative;
  width: 100%;
  margin: 20px 0 20px 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #816ad6;
  color: #fff;
  box-shadow: 0 2px 25px rgba(129, 106, 214, 0.4);
}

.day {
  margin-bottom: 5.5em;
}

.day .dayTitle {
  padding-bottom: 12px;
  border-bottom: 1px solid #e9ecef;
  font-size: 22px;
}

.day .dayTitle a {
  color: #1a1d20;
}

.day .dayTitle a:hover {
  color: #495057;
}

.day .postTitle {
  margin-top: 20px;
  border-bottom: none;
  font-size: 18px;
}

.day .postCon {
  padding-left: 0;
}

.day .postCon h1 {
  position: relative;
  margin-bottom: .5em;
}

.day .postCon h2[id],
.day .postCon h3[id],
.day .postCon h4[id] {
  margin-bottom: 28px;
}

.day .postCon h2[id]:not(:first-child),
.day .postCon h3[id]:not(:first-child),
.day .postCon h4[id]:not(:first-child) {
  margin-top: 56px;
}

.day .postCon h2[id]:before,
.day .postCon h3[id]:before,
.day .postCon h4[id]:before {
  content: "";
  display: block;
  height: 42px;
  margin-top: -42px;
}

.day .postCon h2,
.day .postCon h3 {
  margin-top: 2.875em;
}

.day .postCon p {
  margin: 0;
  line-height: 1.8;
}

.day .postCon ul {
  margin: 1em auto .625em !important;
  padding-left: 1.5em !important;
}

.day .postCon ul li {
  padding-left: 0;
  list-style-type: disc !important;
}

.day .postCon ul li:before {
  content: none;
}

.entrylistTitle {
  margin: 0 0 1.25em 0;
  padding: 0;
  color: #1a1d20;
}

.entrylistItemTitle {
  color: #495057;
}

.entrylistItemTitle:hover, .entrylistItemTitle:focus {
  color: #eb1783;
}

.entrylistItemTitle:before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  display: block;
  width: 5px;
  height: 100%;
  background-color: #f375b5;
}

.entrylistItemPostDesc {
  text-align: right;
  font-size: 12px;
  color: #74818d;
}

.cnblogs-markdown,
.cnblogs-post-body {
  /*

    Atom One Dark by Daniel Gamage
    Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

    base:    #282c34
    mono-1:  #abb2bf
    mono-2:  #818896
    mono-3:  #5c6370
    hue-1:   #56b6c2
    hue-2:   #61aeee
    hue-3:   #c678dd
    hue-4:   #98c379
    hue-5:   #e06c75
    hue-5-2: #be5046
    hue-6:   #d19a66
    hue-6-2: #e6c07b

    */
}

.cnblogs-markdown .hljs,
.cnblogs-post-body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #f8f9fa !important;
}

.cnblogs-markdown .hljs-comment,
.cnblogs-markdown .hljs-quote,
.cnblogs-post-body .hljs-comment,
.cnblogs-post-body .hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.cnblogs-markdown .hljs-doctag,
.cnblogs-markdown .hljs-keyword,
.cnblogs-markdown .hljs-formula,
.cnblogs-post-body .hljs-doctag,
.cnblogs-post-body .hljs-keyword,
.cnblogs-post-body .hljs-formula {
  color: #c678dd;
}

.cnblogs-markdown .hljs-section,
.cnblogs-markdown .hljs-name,
.cnblogs-markdown .hljs-selector-tag,
.cnblogs-markdown .hljs-deletion,
.cnblogs-markdown .hljs-subst,
.cnblogs-post-body .hljs-section,
.cnblogs-post-body .hljs-name,
.cnblogs-post-body .hljs-selector-tag,
.cnblogs-post-body .hljs-deletion,
.cnblogs-post-body .hljs-subst {
  color: #e06c75;
}

.cnblogs-markdown .hljs-literal,
.cnblogs-post-body .hljs-literal {
  color: #56b6c2;
}

.cnblogs-markdown .hljs-string,
.cnblogs-markdown .hljs-regexp,
.cnblogs-markdown .hljs-addition,
.cnblogs-markdown .hljs-attribute,
.cnblogs-markdown .hljs-meta-string,
.cnblogs-post-body .hljs-string,
.cnblogs-post-body .hljs-regexp,
.cnblogs-post-body .hljs-addition,
.cnblogs-post-body .hljs-attribute,
.cnblogs-post-body .hljs-meta-string {
  color: #98c379;
}

.cnblogs-markdown .hljs-built_in,
.cnblogs-markdown .hljs-class .hljs-title,
.cnblogs-post-body .hljs-built_in,
.cnblogs-post-body .hljs-class .hljs-title {
  color: #e6c07b;
}

.cnblogs-markdown .hljs-attr,
.cnblogs-markdown .hljs-variable,
.cnblogs-markdown .hljs-template-variable,
.cnblogs-markdown .hljs-type,
.cnblogs-markdown .hljs-selector-class,
.cnblogs-markdown .hljs-selector-attr,
.cnblogs-markdown .hljs-selector-pseudo,
.cnblogs-markdown .hljs-number,
.cnblogs-post-body .hljs-attr,
.cnblogs-post-body .hljs-variable,
.cnblogs-post-body .hljs-template-variable,
.cnblogs-post-body .hljs-type,
.cnblogs-post-body .hljs-selector-class,
.cnblogs-post-body .hljs-selector-attr,
.cnblogs-post-body .hljs-selector-pseudo,
.cnblogs-post-body .hljs-number {
  color: #d19a66;
}

.cnblogs-markdown .hljs-symbol,
.cnblogs-markdown .hljs-bullet,
.cnblogs-markdown .hljs-link,
.cnblogs-markdown .hljs-meta,
.cnblogs-markdown .hljs-selector-id,
.cnblogs-markdown .hljs-title,
.cnblogs-post-body .hljs-symbol,
.cnblogs-post-body .hljs-bullet,
.cnblogs-post-body .hljs-link,
.cnblogs-post-body .hljs-meta,
.cnblogs-post-body .hljs-selector-id,
.cnblogs-post-body .hljs-title {
  color: #61aeee;
}

.cnblogs-markdown .hljs-emphasis,
.cnblogs-post-body .hljs-emphasis {
  font-style: italic;
}

.cnblogs-markdown .hljs-strong,
.cnblogs-post-body .hljs-strong {
  font-weight: bold;
}

.cnblogs-markdown .hljs-link,
.cnblogs-post-body .hljs-link {
  text-decoration: underline;
}

.cnblogs-markdown .hljs-tag,
.cnblogs-post-body .hljs-tag {
  color: #abb2bf;
}

.cnblogs-markdown pre,
.cnblogs-markdown code,
.cnblogs-markdown kbd,
.cnblogs-markdown samp,
.cnblogs-post-body pre,
.cnblogs-post-body code,
.cnblogs-post-body kbd,
.cnblogs-post-body samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
  font-size: 14px !important;
}

.cnblogs-markdown pre,
.cnblogs-post-body pre {
  position: relative;
  padding: 21px;
  background-color: #f8f9fa;
  border-radius: 8px;
}

.cnblogs-markdown pre:before,
.cnblogs-post-body pre:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  margin-bottom: 1.625em;
  background-color: #f56565;
  border-radius: 9999px;
  box-shadow: 20px 0 0 0 #fbd38d, 40px 0 0 0 #48bb78;
}

.cnblogs-markdown code,
.cnblogs-post-body code {
  padding: 3px 6px !important;
  border: none !important;
  border-radius: 3px !important;
  line-height: normal;
  vertical-align: baseline;
  color: #f375b5;
  font-size: 87.5% !important;
  word-wrap: break-word;
}

a > .cnblogs-markdown code, a >
.cnblogs-post-body code {
  color: inherit !important;
}

pre > .cnblogs-markdown code, pre >
.cnblogs-post-body code {
  font-size: inherit !important;
  color: inherit !important;
  background-color: inherit !important;
  word-break: normal !important;
}

.cnblogs-markdown kbd,
.cnblogs-post-body kbd {
  padding: 3px 6px;
  border: none;
  border-radius: 3px;
  background-color: #f2f4f5;
  font-size: 87.5% !important;
  font-weight: 700;
  color: #74818d;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
}

.cnblogs-markdown kbd kbd,
.cnblogs-post-body kbd kbd {
  padding: 0;
  font-size: 100% !important;
  box-shadow: none;
}

.post #cnblogs_post_body h1 {
  position: relative;
  margin-bottom: .5em;
}

.post #cnblogs_post_body h2[id],
.post #cnblogs_post_body h3[id],
.post #cnblogs_post_body h4[id] {
  margin-bottom: 28px;
}

.post #cnblogs_post_body h2[id]:not(:first-child),
.post #cnblogs_post_body h3[id]:not(:first-child),
.post #cnblogs_post_body h4[id]:not(:first-child) {
  margin-top: 56px;
}

.post #cnblogs_post_body h2[id]:before,
.post #cnblogs_post_body h3[id]:before,
.post #cnblogs_post_body h4[id]:before {
  content: "";
  display: block;
  height: 42px;
  margin-top: -42px;
}

.post #cnblogs_post_body h2,
.post #cnblogs_post_body h3 {
  margin-top: 2.875em;
}

.post #cnblogs_post_body p {
  margin: 0;
  line-height: 1.8;
}

.post #cnblogs_post_body ul {
  margin: 1em auto .625em;
  padding-left: 1.5em;
}

.post #cnblogs_post_body ul li {
  padding-left: 0;
}

.post #cnblogs_post_body ul li:before {
  content: none;
}

.topicListFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.topicListFooter a {
  align-self: stretch;
  padding: .65em 1em;
  border: 1px solid #e9ecef;
  border-radius: 3px;
  color: #495057;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgba(116, 129, 141, 0.1);
}

.topicListFooter a:hover {
  border-color: #f375b5;
  color: #f375b5;
}

#blog-comments-placeholder, #comment_form {
  position: relative;
  display: block;
  margin-top: 35px;
  padding: 0;
  background-color: #fff;
}

#blog-comments-placeholder > br {
  display: none;
}

#blog-comments-placeholder .feedback_area_title {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 18px;
  background-image: none;
}

#blog-comments-placeholder .feedbackItem {
  position: relative;
  margin-top: 7px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #e9ecef;
  background-color: #fafcff;
}

#blog-comments-placeholder .feedbackItem .feedbackListSubtitle {
  padding-bottom: 5px;
  border-bottom: 1px solid #e9ecef;
}

#blog-comments-placeholder .feedbackItem .feedbackManage {
  position: absolute;
  right: 15px;
}

#blog-comments-placeholder .feedbackItem .feedbackCon .blog_comment_body {
  padding: 10px 0;
}

#blog-comments-placeholder .feedbackItem:last-child {
  margin-bottom: 0;
}

#comment_form #divCommentShow .comment_my_posted {
  margin-bottom: 14px;
}

#comment_form #divCommentShow .comment_my_posted .bq_post_comment {
  margin: 7px 0 0 0;
  padding: 3.5px 7px;
  border: 1px solid #e9ecef;
}

#comment_form #comment_nav {
  position: absolute;
  top: 4px;
  right: 0;
}

#comment_form_container #commentform_title {
  display: inline-block;
  width: 100%;
  padding: 0 0 5px 0;
  margin: 0;
  border-bottom: 1px solid #e9ecef;
  font-size: 18px;
  background-image: none;
}

#comment_form.commentform p {
  margin-top: 10px;
  margin-bottom: 10px;
}

#comment_form.commentform p input.author {
  width: 40%;
  min-width: 2em;
  background-image: none;
}

#comment_form.commentform .commentbox_main .commentbox_title {
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
}

#comment_form.commentform .commentbox_main textarea.comment_textarea {
  font-family: inherit;
}

#comment_form.commentform #commentbox_opt .comment_btn {
  width: auto;
  height: auto;
}

#comment_form.commentform #under_post_news,
#comment_form.commentform #under_post_kb {
  display: none;
  margin-top: 28px;
  margin-bottom: 14px;
  font-size: 12px;
}

#comment_form.commentform #under_post_news a,
#comment_form.commentform #under_post_kb a {
  color: #495057;
}

#comment_form.commentform #under_post_news a:hover,
#comment_form.commentform #under_post_kb a:hover {
  color: #1a1d20;
}

#comment_form.commentform #ad_t2,
#comment_form.commentform #cnblogs_c1,
#comment_form.commentform #cnblogs_c2 {
  display: none;
  font-size: 12px;
}

#mainContent h1.PostListTitle,
#mainContent h3#taglist_title {
  display: block;
  margin: 0 0 14px 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #e9ecef;
  font-size: 18px;
  color: #1a1d20;
  text-align: center;
}

#myposts {
  margin: 0;
}

#myposts .pager {
  text-align: center;
  margin: 0;
}

#myposts .PostList {
  position: relative;
  margin: 20px 0 0 0;
  font-size: 14px;
}

#myposts .postTitl2 {
  max-width: 50%;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#myposts .postDesc2 {
  position: absolute;
  right: 0;
  top: 3px;
  z-index: 1;
  max-width: 48%;
  background-color: #fff;
  color: #74818d;
  font-weight: 700;
  font-size: 12px;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#myposts .postDesc2:before {
  content: "\20";
  position: absolute;
  top: 0;
  left: -18px;
  display: block;
  width: 18px;
  height: 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

#myposts .postText2 {
  color: #495057;
  font-size: 12px;
  margin: 6px 0 12px 0 !important;
}

#taglist a {
  padding-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#taglist a:hover {
  background-color: #fde3f0;
}

#taglist .small {
  margin: -4px;
  padding-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#taglist .small:hover {
  background-color: #fde3f0;
}

/**
 * @description   footer's style
 * @date          2019/11/16 20:10
 */
#footer {
  position: relative;
  display: block;
  padding: 30px 0;
  line-height: 2;
  text-align: center;
  font-size: 87.5%;
  font-weight: 700;
  font-family: 'M PLUS Rounded 1c', Roboto, 'Helvetica Neue', sans-serif;
  color: #74818d;
  background-color: #23262e;
}

#footer:before {
  content: "\20";
  position: absolute;
  top: -80px;
  left: 0;
  display: block;
  width: 100%;
  height: 80px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

#green_channel > span,
#author_profile_follow > span,
#p_b_follow > span {
  display: inline-block;
  color: #fff !important;
  padding: 2px 4px;
  background-color: #dc3545 !important;
  font-size: 12px;
}

.c_b_p_desc {
  font-size: 12px;
  margin: 12px 0;
}

.c_b_p_desc_readmore {
  position: relative;
  padding: 0;
  margin: 0;
  user-select: none;
}

.c_b_p_desc_readmore:before {
  content: "\20";
  position: absolute;
  top: 0;
  left: -24px;
  z-index: 1;
  display: block;
  width: 24px;
  height: 100%;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.3)), color-stop(80%, rgba(255, 255, 255, 0.8)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.8) 80%);
}
