*,
*:before,
*:after {
  outline: none;
  box-sizing: border-box;
}

::selection {
  background-color: #007bff;
  color: #ffffff;
  text-shadow: none;
}

html, body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  text-align: left;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #495057;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

@media screen and (min-width: 768px) {
  html, body {
    text-rendering: optimizeLegibility;
  }
}

a {
  position: relative;
  text-decoration: none;
  color: #007bff;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: none;
  color: #0062cc;
}

a:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background: rgba(0, 0, 0, 0.2) !important;
}

.os-theme-dark > .os-scrollbar:hover > .os-scrollbar-track > .os-scrollbar-handle {
  background: rgba(0, 0, 0, 0.45) !important;
}

.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle.active {
  background: rgba(0, 0, 0, 0.55) !important;
}

/**
 * @description   header's style
 * @date          2019/10/28 0:26
 */
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2001;
  display: block;
  width: 100%;
  height: 80px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #e9ecef;
  background-color: #ffffff;
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
}

#header:before,
#header:after {
  content: "\20";
  display: table;
}

#header:after {
  clear: both;
}

#blogTitle,
#navigator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#blogTitle {
  float: left;
}

#blogTitle #lnkBlogLogo {
  display: none;
}

#blogTitle h1, #blogTitle .title {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: .15em;
}

#blogTitle h1 a, #blogTitle h1 a:hover, #blogTitle .title a, #blogTitle .title a:hover {
  color: #495057;
}

#blogTitle h2, #blogTitle .subtitle {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  color: #718096;
}

#navigator {
  float: right;
}

#navigator ul {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

#navigator ul:before,
#navigator ul:after {
  content: "\20";
  display: table;
}

#navigator ul:after {
  clear: both;
}

#navigator li {
  float: left;
  height: 100%;
  padding: 0 15px;
  list-style: none;
}

#navigator li a.menu {
  position: relative;
  color: #495057;
}

#navigator li a.menu:after {
  content: "\20";
  position: absolute;
  top: 100%;
  right: -.1em;
  bottom: 0;
  left: -.1em;
  z-index: -1;
  background-color: rgba(0, 123, 255, 0.3);
  transition: top 200ms cubic-bezier(0.591, 0.41, 0.872, 1);
}

#navigator li a.menu:hover {
  color: #030404;
}

#navigator li a.menu:hover:after {
  top: 60%;
}

#navigator .blogStats {
  position: absolute;
  right: 20px;
  bottom: 1em;
  font-size: 12px;
  color: #999;
  display: none;
}

/**
 * @description   aside's style
 * @date          2019/10/29 13:44
 */
#sideBar {
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 100;
  width: 360px;
  height: calc(100% - 80px);
  padding-left: 2.5em;
  background-color: #ffffff;
}

#sideBar .catListTitle {
  display: block;
  margin: .857em 0 0;
  padding: 1em 0 .875em;
  font-size: 14px;
  font-weight: 700;
}

#sideBar .catListTitle ~ ul,
#sideBar .divRecentCommentAticle {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  background-color: #ffffff;
}

#sideBar .catListTitle ~ ul li,
#sideBar .divRecentComment {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  text-overflow: clip;
}

#sideBar .catListTitle ~ ul li > a,
#sideBar .divRecentComment > a {
  display: inline-block;
  padding: 0.25em 0 0.25em 1em;
  color: #495057;
  font-weight: 500;
  transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1), color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

#sideBar .catListTitle ~ ul li > a:hover,
#sideBar .divRecentComment > a:hover {
  color: #007bff;
}

#sideBar .divRecentCommentAticle {
  position: relative;
  margin-bottom: .2em;
  text-indent: 1em;
}

#sideBar .divRecentCommentAticle:after {
  content: "\20";
  display: block;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-left-color: #007bff;
  border-left-width: 5px;
  position: absolute;
  top: .5em;
  left: 0;
}

#sideBar .divRecentCommentAticle:hover:after {
  border-left-color: #0062cc;
}

#sideBar .divRecentComment {
  text-indent: 2em;
  margin-bottom: .875em;
  padding: 0 .5em .875em;
  border-bottom: 1px dashed #e9ecef;
}

#sideBarMain {
  height: 100%;
  padding-right: 1em;
  overflow-x: hidden;
  overflow-y: auto;
}

#sideBarMain .newsItem {
  margin-top: 16px;
  font-size: 12px;
}

#sideBarMain .newsItem .catListTitle {
  margin-top: 0;
  font-size: 14px;
}

#calendar, #blog-calendar {
  display: block;
  margin: 2em 0 1.143em;
  padding: 0;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  color: #718096;
  background-color: #ffffff;
  box-shadow: 1px 2px 3px rgba(116, 129, 141, 0.1);
}

#calendar table, #blog-calendar table {
  width: 100%;
}

#calendar td:not([colspan]), #calendar th, #blog-calendar td:not([colspan]), #blog-calendar th {
  position: relative;
  padding: .5em 0;
  text-align: center;
  font-weight: 400;
}

#calendar td:not([colspan]) a, #calendar th a, #blog-calendar td:not([colspan]) a, #blog-calendar th a {
  display: block;
}

#calendar td:not([colspan]) a u, #calendar th a u, #blog-calendar td:not([colspan]) a u, #blog-calendar th a u {
  text-decoration: none;
}

#calendar th, #blog-calendar th {
  color: #495057;
}

#calendar td.CalOtherMonthDay, #blog-calendar td.CalOtherMonthDay {
  color: #d2d2d2;
}

#calendar td.CalWeekendDay, #blog-calendar td.CalWeekendDay {
  font-weight: 700;
}

#calendar .CalTitle, #blog-calendar .CalTitle {
  border-bottom: 1px solid #e9ecef;
  padding-bottom: .875em;
}

#calendar .CalTitle td, #blog-calendar .CalTitle td {
  padding: .5em 0;
  min-height: 42px;
}

#calendar .CalNextPrev, #blog-calendar .CalNextPrev {
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  font-weight: 700;
}

#calendar .CalNextPrev > a, #blog-calendar .CalNextPrev > a {
  display: inline-block;
  width: 100%;
  height: 16px;
  min-width: 42px;
  font-size: 0;
  color: #495057 !important;
}

#calendar .CalNextPrev > a:hover, #blog-calendar .CalNextPrev > a:hover {
  color: #007bff !important;
}

#calendar .CalNextPrev > a:before, #blog-calendar .CalNextPrev > a:before {
  content: "\00ab";
  position: absolute;
  top: calc(50% - 16px);
  left: 14px;
  font-size: 24px;
  color: currentColor;
}

#calendar .CalNextPrev:last-child > a:before, #blog-calendar .CalNextPrev:last-child > a:before {
  content: "\00bb";
  left: auto;
  right: 14px;
}

#calendar .CalNextPrev ~ [align="center"], #blog-calendar .CalNextPrev ~ [align="center"] {
  padding: 1em 0;
  line-height: 1;
  vertical-align: middle;
  letter-spacing: .1em;
  font-weight: 700;
  font-size: 1em;
  cursor: text;
}

#leftcontentcontainer {
  margin-bottom: 3em;
}

@media screen and (min-width: grid-lg) {
  #sideBar {
    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.1);
  }
}

/**
 * @description   body's style
 * @date          2019/10/31 9:20
 */
#mainContent {
  display: block;
  max-width: 700px;
  margin-top: 80px;
  margin-left: 360px;
  padding: 30px 40px;
}

/**
 * @description   footer's style
 * @date          2019/10/29 13:26
 */
#footer {
  display: block;
  max-width: 700px;
  margin-left: 360px;
  padding: .8em 1.5em;
  line-height: 2;
  text-align: center;
  font-size: .875em;
  font-weight: 400;
  font-family: 'M PLUS Rounded 1c', Roboto, 'Helvetica Neue', sans-serif;
  color: #718096;
  background-color: #ffffff;
}

#footer:before {
  content: "\20";
  position: absolute;
  top: -24px;
  left: 0;
  display: block;
  width: 100%;
  height: 24px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}
