/**
 * @description   footer's style
 * @date          2019/11/16 20:10
 */

#footer {
  // position: relative;
  display: block;
  padding: 60px 0 50px;
  line-height: 2;
  text-align: center;
  // font-size: 87.5%;
  // font-weight: 700;
  // font-family: 'M PLUS Rounded 1c', Roboto, 'Helvetica Neue', sans-serif;
  // color: $footer-color;
  // background-color: $footer-fill-color;

  // &:before {
  //   content: "\20";
  //   position: absolute;
  //   top: -1 * $footer-mask-height;
  //   left: 0;
  //   z-index: 3;
  //   display: block;
  //   width: 100%;
  //   height: $footer-mask-height;
  //   background-image: linear-gradient(to bottom, rgba($color-white,0) 0%, $color-white 100%);
  // }
}