#header {
  display: flex;
  width: 100%;
  height: $header-height;
  border-bottom: 1px solid $color-border;
  background-color: $header-fill-color;
  transition: height $transition;

  &:before,
  &:after {
    content: "";
    flex: 0 1 calc(50% - #{$main-width / 2});
  }

  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    box-shadow: $header-shadow;
  }
}

#blogTitle,
#navigator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#blogTitle {
  flex: none;
  min-width: $aside-width;
  padding: 0 25px;
  border-right: 1px solid transparent;

  #lnkBlogLogo {
    display: none;
  }

  #Header1_HeaderTitle {
    color: $color-text;
  }

  h1, h2 {
    margin: 0;
    @include ellipsis;
  }

  h1 {
    font-weight: 700;
  }

  h2 {
    color: $color-placeholder;
    font-size: 12px;
  }
}

#navigator {
  flex: 1;
  padding: 0 25px;

  ul {
    @include clearfix;
  }

  li {
    float: left;
    height: 100%;
    padding: 0 15px;
    font-size: 16px;

    a.menu {
      position: relative;
      color: $color-text;

      &:after {
        content: "";
        position: absolute;
        top: 100%;
        right: -.1em;
        bottom: 0;
        left: -.1em;
        z-index: 1;
        background-color: rgba($color-primary, .3);
        transition: top 200ms cubic-bezier(.591,.41,.872,1);
      }

      &:hover:after {
        top: 60%;
      }
    }
  }

  .blogStats {
    display: none;
    position: absolute;
    right: 20px;
    top: $header-height + 20;
    z-index: 2;
    padding: 4px 6px;
    background-color: $color-white;
    color: $color-placeholder;
    font-size: 12px;

    span {
      display: block;
    }
  }
}