/**
 * @description   header's style
 * @date          2019/11/17 00:56
 */

#header {
  display: block;
  width: 100%;
  height: $header-height;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid $color-border;
  background-color: $header-fill-color;
  @include clearfix;

  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    box-shadow: $header-shadow;
  }
}

#blogTitle,
#navigator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#blogTitle {
  float: left;
  position: relative;
  min-width: $aside-width - 20px;

  #lnkBlogLogo {
    display: none;
  }

  #Header1_HeaderTitle {
    color: $color-text;
  }

  h1, h2 {
    margin: 0;
    @include ellipsis;
  }

  h1 {
    font-weight: 700;
  }

  h2 {
    color: $color-text-aux;
    font-size: $font-size-base;
  }
}

#navigator {
  float: right;

  ul {
    @include clearfix;
  }

  li {
    float: left;
    height: 100%;
    padding: 0 15px;

    a.menu {
      position: relative;
      color: $color-text;

      &:after {
        content: "";
        position: absolute;
        top: 100%;
        right: -.1em;
        bottom: 0;
        left: -.1em;
        z-index: 1;
        background-color: rgba($color-primary, .3);
        transition: top 200ms cubic-bezier(.591,.41,.872,1);
      }

      &:hover:after {
        top: 60%;
      }
    }
  }

  .blogStats {
    display: none;
    position: absolute;
    right: 20px;
    top: $header-height + 20;
    z-index: 2;
    padding: 4px 6px;
    background-color: $color-white;
    color: $color-placeholder;
    font-size: 12px;

    span {
      display: block;
    }
  }
}