#MySignature {
  margin-top: 5em;
  margin-bottom: 4em;
  font-weight: 700;
  text-align: center;

  &:before {
    content: "「";
    display: inline;
    padding-right: 3px;
  }

  &:after {
    content: "」";
    display: inline;
    padding-left: 3px;
  }
}