.catListTitle {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: $font-weight-base;
  color: darken($color-text, $hover-percent);
}

#sidebar_news,
#blog-calendar,
#leftcontentcontainer {
  margin-top: 30px;
}

#blog-news,
#sidebar_search_box,
#leftcontentcontainer .sidebar-block ul {
  padding-top: $grid-gutter / 3;
  padding-left: $grid-gutter / 2;
}

.input_my_zzk {
  width: 60%;

  @extend %input;
}

.btn_my_zzk {
  @extend %button;
  @extend %button-primary;
}

#sideBarMain {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

// @include respond(lg) {
//   #sideBar {
//     box-shadow: $aside-shadow-md;
//   }
// }