#main {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  width: 100%;
  max-width: $main-width;
  margin-right: auto;
  margin-left: auto;
  background-color: $main-fill-color;
}

#sideBar {
  flex: 0 0 $aside-width;
  padding: 30px 15px 30px 25px;
  border-right: 1px solid $color-border;

  @import "main-side";
  @import "main-side-calendar";
  @import "main-side-content";
}

#mainContent {
  flex: auto;
  padding: 30px 40px;
  font-size: $font-size-base;

  @import "main-body";
  @import "main-body-pager";
  @import "main-body-signature";
  @import "main-body-gallery";
  @import "main-body-share";
  @import "main-body-comment";
  @import "main-body-markdown";
  @import "main-body-ad";
  @import "main-body-post";
  @import "main-body-list";
}


// 博客

.topicListFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  a {
    align-self: stretch;
    padding: .65em 1em;
    border: 1px solid $color-border;
    border-radius: $border-radius-base;
    color: $color-text;
    background-color: $color-white;
    box-shadow: 0 2px 7px 0 rgba($color-text-aux, .1);

    @include hover-focus {
      border-color: $color-primary;
      color: $color-primary;
    }
  }
}

