#leftcontentcontainer {
  padding-bottom: $grid-gutter * 3;

  .sidebar-block {
    margin-bottom: $grid-gutter * 2;

    li > a {
      display: inline-block;
      padding-top: $grid-gutter / 4;
      padding-bottom: $grid-gutter / 4;
      color: $color-text;
      transition: transform $transition, color $transition;

      &:hover {
        color: $link-hover-color;
      }
    }

    // 我的标签
    &#sidebar_toptags li {
      @extend %tag;

      margin-right: 4px;
      margin-bottom: 4px;

      > a {
        margin-right: 2px;
        padding: 0;
        color: inherit;
        font-size: inherit;
        border-bottom: 1px dashed currentColor;

        @include hover-focus {
          border-bottom-style: solid;
        }
      }
    }

    // 最新评论
    &#sidebar_recentcomments li {
      > a {
        color: $link-color;

        @include hover-focus {
          color: $link-hover-color;
        }
      }

      &.recent_comment_author {
        text-align: right;
        margin-right: 0;
        margin-bottom: $grid-gutter;
        font-size: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}