/**
 * @description   aside's style
 * @date          2019/10/29 13:44
 */

#sideBar {
  position: fixed;
  top: $header-height;
  left: 0;
  z-index: 100;
  width: $aside-width;
  height: calc(100% - #{$header-height});
  padding-left: 2.5em;
  background-color: $aside-fill-color;
  box-shadow: $aside-shadow;
}

#sideBarMain {
  height: 100%;
}

@media screen and (min-width: #{grid-lg}) {
  #sideBar {
    box-shadow: $aside-shadow-md;
  }
}