/**
 * @description   aside's style
 * @date          2019/10/29 13:44
 */

#sideBar {
  position: fixed;
  top: $header-height;
  left: 0;
  z-index: 100;
  width: $aside-width;
  height: calc(100% - #{$header-height});
  padding-left: 2.5em;
  border-right: 1px solid $border-color;
  background-color: $aside-fill-color;
  // box-shadow: $aside-shadow;

  .catListTitle {
    display: block;
    margin: .857em 0 0;
    padding: 1em 0 .875em;
    font-size: 14px;
    font-weight: 700;
  }

  .catListTitle ~ ul,
  .divRecentCommentAticle {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    background-color: $color-white;
  }

  .catListTitle ~ ul li,
  .divRecentComment {
    position: relative;
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    text-overflow: clip;

    & > a {
      display: inline-block;
      padding: 0.25em 0 0.25em 1em;
      color: $text-color;
      font-weight: 500;
      transition: transform $transition, color $transition;

      &:hover {
        color: $color-primary;
      }
    }
  }

  .divRecentCommentAticle {
    position: relative;
    margin-bottom: .2em;
    text-indent: 1em;

    &:after {
      content: "\20";
      display: block;
      width: 0;
      height: 0;
      border: 3px solid transparent;
      border-left-color: $link-color;
      border-left-width: 5px;
      position: absolute;
      top: .5em;
      left: 0;
    }

    &:hover:after {
      border-left-color: $link-color-hover;
    }
  }

  .divRecentComment {
    text-indent: 2em;
    margin-bottom: .875em;
    padding: 0 .5em .875em;
    border-bottom: 1px dashed $border-color;
  }

  .liScore, .liRank {
    padding: 0.25em 0 0.25em 1em;
    color: $text-color;
    font-weight: 500;
  }

  .mySearch > div {
    display: flex;
    flex-direction: row;
    
    .cnblogs-input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: -1px;
    }

    .cnblogs-btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

#sideBarMain {
  height: 100%;
  padding-right: 1em;
  overflow-x: hidden;
  overflow-y: auto;
}

#sideBarMain .newsItem {
  margin-top: 16px;
  font-size: 12px;

  .catListTitle {
    margin-top: 0;
    font-size: 14px;
  }
}

#calendar, #blog-calendar {
  display: block;
  margin: 2em 0 1.143em;
  padding: 0;
  border: 1px solid $border-color;
  border-radius: 2px;
  color: $text-aux-color;
  background-color: $color-white;
  box-shadow: 1px 2px 3px rgba($color-gray-100, 0.1);

  table {
    width: 100%;
  }

  td:not([colspan]), th {
    position: relative;
    padding: .5em 0;
    text-align: center;
    font-weight: 400;

    a {
      display: block;

      u {
        text-decoration: none;
      }
    }
  }

  th {
    color: $text-color;
  }

  td.CalOtherMonthDay {
    color: $color-gray-600;
  }

  td.CalWeekendDay {
    font-weight: 700;
  }

  .CalTitle {
    border-bottom: 1px solid $border-color;
    padding-bottom: .875em;

    td {
      padding: .5em 0;
      min-height: 42px;
    }
  }

  .CalNextPrev {
    text-align: center;
    line-height: 1;
    vertical-align: middle;
    font-weight: 700;

    & > a {
      display: inline-block;
      width: 100%;
      height: 16px;
      min-width: 42px;
      font-size: 0;
      color: $text-color !important;

      &:hover {
        color: $color-primary !important;
      }

      &:before {
        content: "\00ab";
        position: absolute;
        top: calc(50% - 16px);
        left: 14px;
        font-size: 24px;
        color: currentColor;
      }
    }

    &:last-child > a:before{
      content: "\00bb";
      left: auto;
      right: 14px;
    }

    & ~ [align="center"] {
      padding: 1em 0;
      line-height: 1;
      vertical-align: middle;
      letter-spacing: .1em;
      font-weight: 700;
      font-size: 1em;
      cursor: text;
    }
  }
}

#leftcontentcontainer {
  margin-bottom: 3em;
}

@media screen and (min-width: #{grid-lg}) {
  #sideBar {
    box-shadow: $aside-shadow-md;
  }
}