/**
 * @description   footer's style
 * @date          2019/11/16 20:10
 */

#footer {
  display: block;
  max-width: $body-max-width;
  margin-left: $aside-width;
  padding: .8em 1.5em;
  line-height: 2;
  text-align: center;
  font-size: .875em;
  font-weight: 400;
  font-family: 'M PLUS Rounded 1c', Roboto, 'Helvetica Neue', sans-serif;
  color: $footer-color;
  background-color: $footer-fill-color;

  &:before {
    content: "\20";
    position: absolute;
    top: -1 * $footer-mask-height;
    left: 0;
    display: block;
    width: 100%;
    height: $footer-mask-height;
    background-image: linear-gradient(to bottom, rgba($color-white,0) 0%, $color-white 100%);
  }
}