.cnblogs-input {
  display: inline-block;
  width: 100%;
  min-width: 80px;
  height: 36px;
  margin: 0;
  padding: 8px 12px 8px 8px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  font-size: 14px;
  color: $text-aux-color;
  background-color: $color-white;
  transition: color $transition, border-color $transition;

  &:hover {
    border-color: darken($border-color, 10%);
  }

  &:focus {
    border-color: $text-aux-color;
  }
}

// TODO
.cnblogs-btn {
  display: inline-flex;
  height: 36px;
  padding: 8px 1em;
  border: 1px solid $color-primary;
  border-radius: $border-radius;
  font-size: 14px;
  color: $color-white;
  background-color: $color-primary;
  cursor: pointer;

  &:hover, &:focus {
    background-color: mix($color-white, $color-primary, 20%);
  }

  &:active {
    background-color: mix($color-white, $color-primary, 10%);
  }

  &.is-ghost {
    color: $color-primary;
    background-color: $color-white;

    &:hover, &:focus {
      color: mix($color-white, $color-primary, 20%);
      border-color: mix($color-white, $color-primary, 20%);
    }
  
    &:active {
      color: mix($color-white, $color-primary, 10%);
      border-color: mix($color-white, $color-primary, 10%);
    }
  }

  &.is-danger {
    border-color: $color-danger;
    background-color: $color-danger;

    &:hover, &:focus {
      background-color: mix($color-white, $color-danger, 20%);
    }
  
    &:active {
      background-color: mix($color-white, $color-danger, 10%);
    }

    &.is-ghost {
      color: $color-danger;
      background-color: $color-white;

      &:hover, &:focus {
        color: mix($color-white, $color-danger, 20%);
        border-color: mix($color-white, $color-danger, 20%);
      }
    
      &:active {
        color: mix($color-white, $color-danger, 10%);
        border-color: mix($color-white, $color-danger, 10%);
      }
    }
  }
}