/**
 * @description   header's style
 * @date          2019/10/28 0:26
 */

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: $header-height;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid $border-color;
  background-color: $header-fill-color;
  box-shadow: $header-shadow;

  @include clearfix;
}

#blogTitle,
#navigator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#blogTitle {
  float: left;

  .title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .15em;

    a:before{
      content: none;
    }
  }

  .subtitle {
    font-size: 12px;
    color: $text-aux-color;

    &:before {
      content: "\00bb";
      display: inline;
      padding-right: .22em;
    }
  }
}

#navigator {
  float: right;

  ul {
    margin: 0;
    padding: 0;
    font-size: 1em;

    @include clearfix;
  }

  li {
    float: left;
    height: 100%;
    padding: 0 15px;
    list-style: none;

    a.menu:after {
      top: 100%;
    }

    a.menu:hover:after {
      top: 60%;
    }
  }

  .blogStats {
    position: absolute;
    right: 20px;
    bottom: 1em;
    font-size: 12px;
    color: #999;
    display: none;
  }
}