/**
 * @description   header's style
 * @date          2019/10/28 0:26
 */

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2001;
  display: block;
  width: 100%;
  height: $header-height;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid $border-color;
  background-color: $header-fill-color;
  box-shadow: $header-shadow;

  @include clearfix;
}

#blogTitle,
#navigator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#blogTitle {
  float: left;

  .title {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: .15em;

    a, a:hover {
      color: $header-color;
    }
  }

  .subtitle {
    font-size: 12px;
    color: $text-aux-color;
  }


}

#navigator {
  float: right;

  ul {
    margin: 0;
    padding: 0;
    font-size: 1em;

    @include clearfix;
  }

  li {
    float: left;
    height: 100%;
    padding: 0 15px;
    list-style: none;

    a.menu {
      position: relative;
      color: $header-color;

      &:after {
        content: "\20";
        position: absolute;
        top: 100%;
        right: -.1em;
        bottom: 0;
        left: -.1em;
        z-index: -1;
        background-color: rgba($color-primary, .3);
        transition: top 200ms cubic-bezier(.591,.41,.872,1);
      }

      &:hover {
        color: $header-color-hover;

        &:after {
          top: 60%;
        }
      }
    }
  }

  .blogStats {
    position: absolute;
    right: 20px;
    bottom: 1em;
    font-size: 12px;
    color: #999;
    display: none;
  }
}