// Color
$color-white:     #ffffff !default;
$color-black:     #000000 !default;
$color-blue:      #007bff !default;

$color-light:     #e9ecef !default; // 边框色
$color-dark:      #495057 !default; // 全局字体色
$color-dark-300:  #333c44 !default;
$color-gray:      #718096 !default; // 字体辅助色
$color-gray-100:  #74818d !default; // 阴影色
$color-gray-200:  #8a8191 !default; // del
$color-gray-600:  #d2d2d2 !default;

$color-primary:      #f375b5 !default; // #007bff
$color-danger:       #dc3545 !default;
$color-text:         #495057 !default;
$color-text-aux:     #74818d !default;
$color-placeholder:  #c0c4cc !default;
$color-border:       #e9ecef !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary": $color-primary,
  "danger" : $color-danger
), $theme-colors);


$font-size-base: 14px !default;
$font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", 'Helvetica Neue', Helvetica, "PingFang SC", Tahoma, Arial, sans-serif !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// Basic | Space
$space:             10px !default;
$hover-percent:     20% !default;

// Link
$link-color:        $color-primary !default;
$link-color-hover:  darken($color-primary, $hover-percent) !default;

// Transition
$transition-duration: 300ms;
$transition-timing:   cubic-bezier(.215, .61, .355, 1) !default;
$transition: $transition-duration $transition-timing;

// Grid
$grid-sm    : 768px !default;
$grid-md    : 996px !default;
$grid-lg    : 1199px !default;

// Header
$header-height:  80px !default;
$header-fill-color: $color-white !default;
$header-shadow:  0 3px 8px 0 rgba($color-text-aux, .1) !default;

// Aside
$aside-width: 360px !default;
$aside-fill-color: $color-white !default;
$aside-shadow: 5px 0 10px rgba($color-black, .08) !default;
$aside-shadow-md: 1px 0 5px 0 rgba($color-black, .1) !default;

// Body
$body-max-width: 700px !default;

// Scroll
$scroll-fill-color: #909999 !default;

// Footer
$footer-color: $color-text-aux !default;
$footer-fill-color: $color-white !default;
$footer-mask-height: 24px !default;