@import url(https://fonts.googleapis.com/css?family=Bookman+Old+Style);

blackcat-spinner {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 9999;
  display: flex;
  justify-content:center;
  align-items:center;
  background-color: $color-fill;

  &:before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: $color-primary;
    animation: bc-anim-scaleout 1s ease-in-out infinite;
  }
}

@include anim(bc-anim-scaleout) {
  0% { transform: scale(0) }
  100% { transform: scale(1); opacity: 0;}
}

@include anim(bc-anim-highlight) {
  50% { color: $color-primary }
}


.blackcat-wrapper {
  display: block;
  margin: 0 auto;
}

*[blackcat-event] {
  cursor: pointer;
}

blackcat-header {
  display: block;
  padding: 48px $space;

  .item {
    float: left;
    height: 40px;
    line-height: 40px;
  }

  .item.r {
    float: right;
  }

  .blackcat-logo {
    position: relative;
    margin-right: 40px;

    &:after {
      content: "";
      position: absolute;
      top: 8px;
      right: -6px;
      z-index: -1;
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      border: 3px solid $color-primary;
    }
  }

  .blackcat-wrapper {
    width: 85%;
    @include clearfix;
  }
}

a[target^="_blank"] {
  blackcat-extra {
    display: inline;
    padding-left: 3px;
  }

  &:hover blackcat-extra .arrow {
    transform: translate(1px, -1px);
  }
}

.blackcat-logo {
  display: block;

  a {
    font-size: 16px;
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }
}

.blackcat-link-links a,
a.blackcat-line-link {
  text-decoration: none;

  & > span {
    position: relative;
    white-space: nowrap;

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 1px;
      background-color: $color-text;
      position: absolute;
      bottom: 1px;
      left: 110%;
      transition: width .5s, left .5s;
    }
  }

  &:hover > span:after {
    width: 100%;
    left: 0;
    transition: width .5s;
  }
}

.blackcat-menu {
  li {
    display: block;
    float: left;

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 0 10px;
      color: inherit;
    }
  }
}

// search 弹窗
.blackcat-layer-search.layui-layer {
  border-radius: 0;
  border: 5px solid $color-text;
  box-shadow: none;

  input {
    height: 75px;
    line-height: 75px;
    width: 500px;
    padding: 0 15px;
    font-size: 20px;
    border: none 0;
    background: none;
  }
}
