@import url(https://cdn.jsdelivr.net/gh/hezulong1/my-lib/font/Eina/style.css);

blackcat-spinner {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 9999;
  display: flex;
  justify-content:center;
  align-items:center;
  background-color: $color-fill;

  &:before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: $color-primary;
    animation: bc-anim-scaleout 1s ease-in-out infinite;
  }
}

@include anim(bc-anim-scaleout) {
  0% { transform: scale(0) }
  100% { transform: scale(1); opacity: 0;}
}


blackcat-wrapper {
  display: block;
  max-width: $max-width;
  margin: 0 auto;
}

blackcat-header {
  display: block;
  padding: 48px $space;

  background-color: #fff;
  blackcat-wrapper {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

a[target^="_blank"] {
  blackcat-extra {
    display: inline;
    padding-left: 3px;
  }

  &:hover blackcat-extra .arrow{
    transform: translate(1px, -1px);
  }
}

.blackcat-logo {
  display: block;

  a {
    font-size: 18px;
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }
}

.blackcat-link-links a,
a.blackcat-line-link {
  text-decoration: none;

  & > span {
    position: relative;
    display: inline-block;
    white-space: nowrap;

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 1px;
      background-color: $color-text;
      position: absolute;
      bottom: 1px;
      left: 110%;
      transition: width .5s, left .5s;
    }
  }

  &:hover > span:after {
    width: 100%;
    left: 0;
    transition: width .5s;
  }
}

.blackcat-menu {
  li {
    display: block;
    float: left;

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 0 10px;
      color: inherit;
    }
  }
}
