@import
  "base/var",
  "base/mixin";
@import
  "base/reset",
  "base/reboot";
@import
  "base/input",
  "base/button",
  "base/tag",
  "base/main";
@import
  "partials/header",
  "partials/main",
  "partials/footer",
  "partials/_extra";

#green_channel>span,
#author_profile_follow>span,
#p_b_follow>span {
  display: inline-block;
  color: $color-white !important;
  padding: 2px 4px;
  background-color: $color-danger !important;;
  font-size: 12px;
}

#author_profile a:hover {
  text-decoration: none !important;
}

.c_b_p_desc {
  font-size: 12px;
  margin: 12px 0;
}

.c_b_p_desc_readmore {
  position: relative;
  padding: 0;
  margin: 0;

  @include unselect;

  &:before {
    content: "\20";
    position: absolute;
    top: 0;
    left: -24px;
    z-index: 1;
    display: block;
    width: 24px;
    height: 100%;
    pointer-events: none;
    background-image: linear-gradient(to right, rgba($color-white, .3) 0%, rgba($color-white, .8) 80%);
  }
}
@import "partials/media";
@import "scrollbar";
@import "blackcat";
