@import
  "base/var",
  "base/mixin";
@import
  "base/reset",
  "base/reboot";
@import "base/main";
// @import
//   "base/input",
//   "base/button",
//   "base/tag",
//   "base/main";
// @import
//   "partials/header",
//   "partials/main",
//   "partials/footer",
//   "partials/_extra";

// #green_channel>span,
// #author_profile_follow>span,
// #p_b_follow>span {
//   display: inline-block;
//   color: $color-white !important;
//   padding: 2px 4px;
//   background-color: $color-danger !important;;
//   font-size: 12px;
// }

// #author_profile a:hover {
//   text-decoration: none !important;
// }

/* Main */
#mainContent {
  width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Home */
@import "partials/main-body-post";

.c_b_p_desc {
  margin: 15px 0;
}

.c_b_p_desc_readmore {
  display: inline-block;
  margin-top: 15px;
  padding: 0;
  color: $color-danger;
  text-decoration: none;

  &:hover {
    color: $color-danger;
    text-decoration: underline;
  }
}

// @import "partials/media";
@import "scrollbar";

.hide,
#header,
#footer,
#sideBar {
  @extend template;
}

@import "blackcat";