black-cat-spinner {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 9999;
  display: flex;
  justify-content:center;
  align-items:center;
  background-color: $color-fill;

  &:before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: $color-primary;
    animation: bc-anim-scaleout 1s ease-in-out infinite;
  }
}

@include anim(bc-anim-scaleout) {
  0% { transform: scale(0) }
  100% { transform: scale(1); opacity: 0;}
}


black-cat-wrapper {
  display: block;
  max-width: $max-width;
  margin: 0 auto;
}

black-cat-header {
  display: block;
  padding: 48px $space;

  background-color: #fff;
  black-cat-wrapper {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

black-cat-logo {
  display: block;

  img {
    border-radius: 100%;
  }

  a {
    position: relative;
    color: #18191b;
    font-size: 2em;

    span {
      position: relative;
      z-index: 2;
    }

    &:after {
      content: "";
      position: absolute;
      top: -5px;
      right: -5px;
      z-index: 1;
      display: block;
      width: 14px;
      height: 14px;
      border: 3px solid #e94328;
      border-radius: 100%;
    }
  }
}

black-cat-menu {
  display: block;
  background-color: #18191b;
}

black-cat-menuitem {
  display: block;
  float: left;
  height: 64px;
  line-height: 64px;
  padding: 0 $space;
  color: rgba($color-white, .6);

  &:hover {
    color: rgba($color-white, .9)
  }

  a {
    color: inherit;
  }

  @include clearfix;
}