@import url(https://fonts.googleapis.com/css?family=Bookman+Old+Style);

blackcat-spinner {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 9999;
  display: flex;
  justify-content:center;
  align-items:center;
  background-color: $color-fill;

  &:before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: $color-text;
    animation: bc-anim-scaleout 1s ease-in-out infinite;
  }
}

@include anim(bc-anim-scaleout) {
  0% { transform: scale(0) }
  100% { transform: scale(1); opacity: 0;}
}

@include anim(bc-anim-highlight) {
  50% { color: $color-primary }
}


.blackcat-time {
  font-size: 12px;
  color: $color-placeholder;

  > time,
  > span {
    display: inline;
    vertical-align: middle;
    margin-right: 5px;
  }

  i {
    margin-right: 2px;
  }
}

.blackcat-wrapper {
  display: block;
  margin: 0 auto;
}

*[blackcat-event] {
  cursor: pointer;
}

blackcat-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: block;
  width: 100%;
  height: $header-height;
  padding: 20px $space;
  background-color: rgba($color-white, .8);
  border-bottom: 1px solid transparent;
  transition: padding .5s ease-out, border-color .5s ease-out, top .2s ease-out;

  &.down {
    height: $header-xs-height;
    padding: 10px $space;
    border-bottom-color: $color-border;
  }

  &.static {
    position: static;
  }

  .item {
    float: left;
    height: 40px;
    line-height: 40px;
  }

  .item.r {
    float: right;
  }

  .blackcat-logo {
    position: relative;
    margin-right: 40px;
  }

  .blackcat-wrapper {
    width: 85%;
    @include clearfix;
  }
}

a[target^="_blank"] {
  blackcat-extra {
    display: inline;
    padding-left: 3px;
  }

  &:hover blackcat-extra .arrow {
    transform: translate(1px, -1px);
  }
}

.blackcat-logo {
  display: block;

  a {
    font-size: 20px;
    text-decoration: none;
    color: $color-accent;

    &:hover {
      color: $color-accent;
    }
  }
}

.blackcat-link-links a,
a.blackcat-line-link {
  text-decoration: none;

  & > span {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    line-height: 1.142857;

    &:after {
      content: "";
      display: inline-block;
      width: 0;
      height: 1px;
      background-color: $color-text;
      position: absolute;
      bottom: 1px;
      left: 110%;
      transition: width .5s, left .5s;
    }
  }

  &:hover > span:after {
    width: 100%;
    left: 0;
    transition: width .5s;
  }
}

.blackcat-menu {
  li {
    display: block;
    float: left;

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 0 10px;
      color: inherit;
    }
  }
}

// search 弹窗
.blackcat-layer-search.layui-layer {
  border-radius: 0;
  border: 5px solid $color-text;
  box-shadow: none;

  input {
    height: 75px;
    line-height: 75px;
    width: 500px;
    padding: 0 15px;
    font-size: 20px;
    border: none 0;
    background: none;
  }
}

@supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
  .layui-layer-shade {
    backdrop-filter: blur(2px);
  }

  blackcat-header {
    backdrop-filter: saturate(180%) blur(20px);
  }
}

/* Footer */
blackcat-footer {
  display: block;
  max-width: 800px;
  margin: 0 auto;
}

.blackcat-avatar {
  border-radius: 50%;
  border: 1px solid $color-text;
}

.blackcat-author {
  display: block;
  margin: 20px 0;
  border: 1px solid $color-border;
  border-radius: 2px;
  font-family: HanHei SC,PingHei,PingFang SC,STHeitiSC-Light,Helvetica Neue,Helvetica,Arial,sans-serif;

  .blackcat-wrapper {
    width: 100%;
    text-align: center;
  }

  .avatar {
    padding-top: 25px;

    img {
      max-width: 48px;
    }
  }

  .nickname {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1;
    font-weight: 700;
  }

  .signature {
    width: 85%;
    margin: 10px auto auto;
    font-size: 13px;
    line-height: 1.15;
    color: $color-placeholder;
  }

  .btns {
    margin: 1em 0 25px;
    text-align: center;

    .btn {
      display: inline-block;
      width: 100px; // 57px
      padding: 8px 4px;
      text-align: center;
      font-size: 12px;
      line-height: 12px;
      vertical-align: middle;
      color: $color-white;
      background-color: $color-primary;
      border-radius: 3px;
      user-select: none;

      &:active {
        opacity: .8;
      }
    }
  }
}

.blackcat-pager {
  display: block;
  padding: 40px 0;

  .blackcat-wrapper {
    width: 85%;
    padding: 10px;
    text-align: center;
  }

  a {
    display: inline-block;
    font-size: 1.5em;
    margin: 0 20px;

    > span {
      color: $color-text;
    }
  }
}

.blackcat-copyright {
  text-align: center;
  line-height: 24px;
  color: $color-text;
  padding: 50px 0 60px;
}

/**/
.blackcat-code-wrapper {
  display: block;
  max-width: 100%;
  max-height: 40em;
  margin: 10px 0;
  position: relative;
  padding: 49px 21px 21px;
  background-color: #2d3748;
  // padding: 21px;

  > pre {
    margin: 0;
  }

  &:before {
    position: absolute;
    top: 21px;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    margin-bottom: 1.625em;
    background-color: #f56565;
    border-radius: 9999px;
    box-shadow: 20px 0 0 0 #fbd38d, 40px 0 0 0 #48bb78;
    transition: background-color .3s, box-shadow .3s;
  }

  > a {
    position: absolute;
    top: 18px;
    right: 20px;
    z-index: 1;
    color: $color-placeholder;
    text-decoration: none;

    &:hover {
      color: $color-white;
    }
  }
}

.blackcat-tags {
  display: block;
  @include clearfix;
}

.blackcat-tag {
  float: left;
  margin-bottom: .5em;
  min-width: 33.33%;
  text-align: center;
  font-size: 16px;

  a {
    @include ellipsis;
  }

  em {
    font-style: normal;
  }
}

@include respond(sm) {
  .blackcat-tag {
    min-width: 25%;
  }
}

@include respond(md) {
  .blackcat-tag {
    min-width: 20%;
  }
}

// Home - 阅读全文
.blackcat-readmore {
  margin-top: 15px;

  a {
    color: $color-danger;
    text-decoration: none;

    & > span:after {
      background-color: $color-danger;
    }
  }
}

// Home - 置顶
.blackcat-badge {
  font-size: 80%;
  background-color: $color-accent;
  color: $color-white;
  padding: 1px 4px;
}
