%button {
  display: inline-block;
  height: $button-height;
  padding: $font-size-base / 2 $font-size-base;
  line-height: ($button-height - $font-size-base - 2) / $font-size-base;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: transparent;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  transition: $transition;
  cursor: pointer;
}

@each $key, $color in $theme-colors {
  %button-#{$key} {
    @include button-style($color-white, $color, $color);
  }

  %button-#{$key}-ghost {
    @include button-style($color, $color-white, $color);
  }
}
