/* Reboot */

*,
*:before,
*:after {
  outline: none;
  box-sizing: border-box;
}


@media screen and (min-width: #{$grid-small}) {
  html,
  body {
    text-rendering: optimizeLegibility;
  }
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  line-height: 1.5;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  color: $color-text;
  text-align: left;
  background-color: $color-white;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

h1 {
  font-size: $font-size-base * 2;
}

h2 {
  font-size: $font-size-base + 8;
}

h3 {
  font-size: $font-size-base + 4;
}

h4 {
  font-size: $font-size-base + 2;
}

h5 {
  font-size: $font-size-base;
}

h6 {
  font-size: $font-size-base - 2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: $font-size-base / 2;
}

hr {
  height: 1px;
  margin: $font-size-base / 2 0;
  border: 0;
  background-color: $color-border;
  clear: both;
}

a {
  color: $color-text;
  text-decoration: underline;
  background-color: transparent;

  &:hover {
    color: $link-hover-color;
  }

  &:focus,
  &:active {
    outline: 0;
  }
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: inherit;
}

blockquote {
  width: 100%;
  margin: 20px 0;
  padding: 20px 1em;
  border: none;
  background-color: darken($color-fill, 4%);

  p:last-child:first-child {
    margin: 0 !important;
  }
}

// html, body {
//   width: 100%;
//   height: 100%;
// }

// h2, h3 {
//   &:before {
//     content: "";
//     display: block;
//     height: 3em;
//     margin-top: -3em;
//   }
// }
