*,
*:before,
*:after {
  outline: none;
  box-sizing: border-box;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
  text-shadow: none;
}

html, body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  text-align: left;
  font-size: $font-size-base;
  font-family: $font-family-sans-serif;
  color: $color-text;
  background-color: $color-white;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}


@media screen and (min-width: #{$grid-sm}) {
  html, body {
    text-rendering: optimizeLegibility;
  }
}

a {
  position: relative;
  background-color: transparent;
  color: $link-color;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;

  &:hover {
    color: $link-color-hover;
  }

  &:focus {
    outline: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}