%tag {
  display: inline-block;
  padding: 4px 8px;
  background-color: mix($color-white, $color-primary, 80%);
  border: none;
  border-radius: $border-radius-small;
  color: $color-primary;
  font-size: 12px;
  font-weight: $font-weight-bold;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    background-color: mix($color-white, $color-primary, 70%);
  }
}